In [30]:
print("hello")

hello

In [2]:
print("kiran")
x=10
print(x)

kiran
10

In [3]:
TEN =10
ten = 8
print(TEN,ten)

10 8

In [5]:
print = "kiran"
type(print)

str

In [6]:
print =3
type(3)

int

In [7]:
del print

In [8]:
print("hi")

hi

In [10]:
a , b, c, d = "a" ,2,2.5, "abcdef"
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(a),type(b),type(c),type(d))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'> <class 'int'> <class 'float'> <class 'str'>

In [14]:
a,b,c =10 ,10 ,10

In [31]:
x=y=z=10
print(x,y,z)

10 10 10

In [18]:
FirstName ,MiddleName, LastName = "kiran" ," ", "zapate"

In [19]:
print(f"{FirstName}.{LastName}@gmail.com")

kiran.zapate@gmail.com

In [2]:
a = input("enter")

In [4]:
print("k")

k

In [6]:
a=float(input("enter"))
print(a)

4.0

In [17]:
a=5
b=6
d=10
e =18
r=6
g=a+b
print(f"a:{id(a)} b:{id(b)} c:{id(c)} d:{id(e)} e:{id(e)} r: {id(r)} g:{id(g)}")

a:9801376 b:9801408 c:9801248 d:9801792 e:9801792 r: 9801408 g:9801568

In [13]:
b= 7
c=float(b)
d=bool(b)
e=str(b)
print("int con:",b,c,d,e)
b= 7.0
c=int(b)
d=bool(b)
e=str(b)
print("float con",b,c,d,e)
b= "7"
c=int(b)
d=bool(b)
e=float(b)
print("str con",b,c,d,e)
b= True
c=int(b)
d=str(b)
e=float(b)
print("bool con",b,c,d,e)

int con: 7 7.0 True 7
float con 7.0 7 True 7.0
str con 7 7 True 7.0
bool con True 1 True 1.0

In [7]:
b=bool(input("enter"))
print(b)

True

In [5]:
A = int(input("Enter value of A: "))
B = int(input("Enter value of B: "))

print(type(A), type(B))

<class 'int'> <class 'int'>

In [27]:
Fullname,Place,wight, BirthDate ,current ="Kiran zapate", "Betul", 52,1999 ,2021
Age = current-BirthDate
print(f"""Personal DEtail
Name : {Fullname}
Place :{Place}
wight :{wight}
birth year : {BirthDate}
Age : {Age}
"""
          )

Personal DEtail
Name : Kiran zapate
Place :Betul
wight :52
birth year : 1999
Age : 22